@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

html {
  background: url(58366.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body {
  font-family: 'Nanum Pen Script', cursive;
} */

body {
  font-family: 'Malgun Gothic', '굴림', 'Gulim', 'Arial';
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 290vh;
  width: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-size-big {
  font-size: 2.5em;
  font-weight: 700;
}

.text-size-medium {
  font-size: 2.5em;
}

.text-size-small {
  font-size: 1em;
  color: rgba(1, 1, 1, 0.3);
}

.chart-size {
  /* border: 0.1em solid; */
  width: 500px;
  height: 250px;
  z-index: 1;
}

.text-size-ac-value {
  font-size: 2em;
}

section {
  height: 100vh;
  width: 80%;
}

#team-name {
  margin: 5em;
}

.abutton {
  position: fixed;
}
