<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- chart.js 연결 부분 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <!--  -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>Smart Plug</title>
  </head>
  <body>
    <div class="flex-start">
      <section class="flex-center">
        <div><span class="text-size-big">Smart Plug System</span></div>
        <div>
          <span class="sensor_data text-size-ac-value"></span>
          <span class="text-size-ac-value">ws</span></span>
        </div>
        <div>
          <span class="date text-size-small"></span>
        </div>
        <div class="chart-size">
          <canvas id="myChart"></canvas>
        </div>
        <div><button id="turnoff">turn off</button></div>
      </section>
      <!-- <section class="flex-center">
        <div>
          <span class="text-size-big"
            >라즈베리파이를 이용한 전력제어 스마트 플러그</span
          >
        </div>
        <div id="team-name">
          <span class="text-size-medium"
            >고낙연, 김대익, 김정원, 김학산, 남기문, 조인기, 류찬명</span
          >
        </div>
      </section> -->
      <div>
        <!-- <form class="submit_form">
          <input type="submit" value="submit" />
        </form> -->
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/relay_controll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sensor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/using.js') }}"></script>
  </body>
</html>
